* {
  font-family: "Roboto", sans-serif;
  margin-block: 0;
  text-decoration: none;
}

/*VARIABLES*/
/*COLORS*/
/**/
/*SHADOW*/
/**/
/*MIXINS*/
/**/
/*BODY*/
body {
  max-width: 375px;
  margin: 0;
}

/**/
/*HEADER*/
.navbar {
  padding: 17px 0 16px 0;
  text-align: center;
}
.navbar--flex {
  display: flex;
  gap: 17%;
  justify-content: flex-start;
}
.navbar__redirect-link__content {
  width: 30px;
  height: 30px;
}
.navbar__redirect-link__content__logo {
  font-size: 30px;
  color: black;
}
.navbar__title {
  width: 100%;
  height: 30px;
}
.navbar__title__logo {
  width: 162px;
  height: 30px;
  font-size: 30px;
}
.navbar__title__text {
  display: none;
}
.navbar__title--size {
  width: 162px;
}

.opener {
  /*height: 225px;*/
}
.opener__content {
  padding: 15.5px 0 15.5px 0;
  background-color: #EAEAEA;
}
.opener__content__text {
  text-align: center;
}
.opener__content__text__icon-location {
  margin-right: 4.53%;
}
.opener__hook {
  background-color: #F6F6F6;
  padding: 30px 0 30px 0;
}
.opener__hook__title {
  text-align: center;
}
.opener__hook__text {
  text-align: center;
  margin: 30px 8% 27px 8%;
}
.opener__hook__link {
  display: block;
  width: 218px;
  margin: auto;
  padding: 17px 0 17px 0;
  text-align: center;
  background: linear-gradient(360deg, #9356DC, #FF79DA);
  color: white;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
}

/**/
/*FOCNTIONS*/
.fonctions {
  height: 420px;
  padding: 55px 5.33% 0 5.33%;
}
.fonctions__title {
  margin-bottom: 33px;
}
.fonctions__cards__container {
  width: 96%;
  border-radius: 20px;
  padding: 26.5px 0 26.5px 0;
  margin: 0 0 25px 2.67%;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: nowrap;
  gap: 6%;
}
.fonctions__cards__container__number {
  padding: 2.5px 7.5px 2.5px 7.5px;
  border-radius: 50%;
  margin-left: -4%;
  color: white;
  background-color: #9356DC;
}
.fonctions__cards__container__logo__icon-color--grey {
  color: #7E7E7E;
}
.fonctions__cards__container__logo__icon-color--purple {
  color: #9356DC;
}
.fonctions__cards__container__text {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

/**/
/*RESTAURANTS*/
.restaurants {
  padding: 55px 5.33% 66px 5.33%;
  background-color: #F6F6F6;
}
.restaurants__title {
  margin-bottom: 30px;
}
.restaurants__cards {
  position: relative;
}
.restaurants__cards__link {
  text-decoration: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurants__cards__link__container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 18px;
  width: 100%;
  background-color: #ffffff;
}
.restaurants__cards__link__container__img {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
}
.restaurants__cards__link__container__new {
  position: absolute;
  padding: 7.5px;
  margin: 15px 15px 0 72.53%;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  font-weight: bold;
}
.restaurants__cards__link__container__description {
  display: flex;
  padding: 16.5px 7.46% 16.5px 3.88%;
}
.restaurants__cards__link__container__description__content {
  height: 44px;
  width: 51%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restaurants__cards__link__container__description__content__title {
  font-size: 18px;
  font-weight: 700;
  height: 18px;
  color: #000;
}
.restaurants__cards__link__container__description__content__location {
  height: 17px;
  color: #000;
}
.restaurants__cards__link__container__description__icon_container {
  width: 22px;
  height: 22px;
  margin: 10px 0 0 42%;
  color: #101010;
  font-size: 22px;
}
.restaurants__cards__link__container__description__icon_container__heart {
  background-color: #FFFFFF;
  position: absolute;
  z-index: 1;
}
.restaurants__cards__link__container__description__icon_container__heart:active {
  display: none;
}
.restaurants__cards__link__container__description__icon_container__heart-purple {
  display: none;
  position: absolute;
  color: #9356DC;
}

/**/
/*FOOTER*/
.footer {
  padding: 22px 6.66% 22px 6.66%;
  background-color: #353535;
  color: white;
}
.footer__title {
  font-family: shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 17px;
}
.footer__link__content {
  margin-top: 8px;
  color: white;
}
.footer__link__content__logo-container {
  display: inline-block;
  height: 13px;
  font-size: 13px;
  width: 11px;
  margin-right: 2.93%;
}
.footer__link__content__text {
  display: inline-block;
}

/**/
/*MEDIA QUERIES*/
@media (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin: 0;
  }
  .opener__content__text__icon-location {
    margin-right: 1%;
  }
  .opener__hook__title {
    font-size: 40px;
  }
  .opener__hook__text {
    font-size: 18px;
  }
  .fonctions {
    padding: 50px 12.5% 50px 12.5%;
    height: 131px;
  }
  .fonctions__title {
    margin-bottom: 25px;
    width: 100%;
  }
  .fonctions__cards {
    display: flex;
    gap: 5.6%;
    margin-left: 10px;
  }
  .fonctions__cards__container {
    width: 29.6%;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 5.1%;
    justify-content: flex-start;
  }
  .fonctions__cards__container__number {
    margin-left: -3.5%;
  }
  .restaurants {
    padding: 30px 12.5% 30px 12.5%;
  }
  .restaurants__cards {
    height: 552px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 9.25%;
  }
  .restaurants__cards__link {
    width: 45.375%;
    height: 251px;
  }
  .restaurants__cards__link__container {
    margin-top: 0;
  }
  .restaurants__cards__link__container__new {
    margin-left: 37%;
  }
  .restaurants__cards__link__container__img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  /*FOOTER*/
  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 30px 2.08% 30px 2.08%;
  }
  .footer__title {
    order: 5;
    margin-bottom: 0;
    margin-left: 3%;
  }
  .footer__link {
    margin-right: 1.5%;
  }
  .footer__link__content {
    margin-top: 0;
  }
  .footer__link__logo {
    display: inline-block;
    width: 11px;
    height: 13px;
  }
  .footer__link__text {
    display: inline-block;
    margin-left: 0.5%;
  }
  .footer article {
    width: 188px;
  }
  /**/
}
/**//*# sourceMappingURL=styles.css.map */