*{
    font-family: 'Roboto' , sans-serif;
    margin-block: 0;
    text-decoration: none;
}

/*VARIABLES*/

/*COLORS*/
$main-bg-color: #F6F6F6;
$white: #FFFFFF;
$purple: #9356DC;
$grey: #353535;
$grey-light: #7E7E7E;
$black-light: #353535;
$black: #000;
$green-light: #99E2D0;
$green: #008766;
/**/
/*SHADOW*/
$shadow-light: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

/**/

/*MIXINS*/
@mixin button {
    text-align: center;
    background: linear-gradient(360deg, #9356DC, #FF79DA);
    color: white;
    border-radius: 25px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
}

/**/

/*BODY*/

body{
max-width: 375px;
margin: 0;
}

/**/

/*HEADER*/
.navbar{
    padding: 17px 0 16px 0;
    text-align: center;
    &--flex{
        display: flex;
        gap: 17%;
        justify-content: flex-start;
    }
    &__redirect-link{ 
        &__content{
            width: 30px;
            height: 30px;
            &__logo{
                font-size: 30px;
                color: black;
            }
        }
    }
    &__title{
        width: 100%;
        height: 30px;
        &__logo{
            width: 162px;
            height: 30px;
            font-size: 30px;
        }
        &__text{
            display: none;
        }
        &--size{
            width: 162px;
        }
    }

}

.opener{
    /*height: 225px;*/
    &__content{
        padding: 15.5px 0 15.5px 0;
        background-color: #EAEAEA;
        &__text{
            text-align: center;
            &__icon-location{
                margin-right: 4.53%;
            }
        }
    }
    &__hook{
        background-color: #F6F6F6;
        padding: 30px 0 30px 0;
        &__title{
            text-align: center;
        }
        &__text{
            text-align: center;
            margin: 30px 8% 27px 8%;
        }
        &__link{
            display: block;
            width: 218px;
            margin: auto;
            padding: 17px 0 17px 0;
            @include button
        }
    }
}

/**/

/*FOCNTIONS*/

.fonctions{
    height: 420px;
    padding: 55px 5.33% 0 5.33%;
    &__title{
        margin-bottom: 33px;
    }
    &__cards{
        &__container{
            width: 96%;
            border-radius: 20px;
            padding: 26.5px 0 26.5px 0;
            margin: 0 0 25px 2.67%;
            background-color: #F6F6F6;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-wrap: nowrap;
            gap: 6%;
            &__number{
                padding: 2.5px 7.5px 2.5px 7.5px;
                border-radius: 50%;
                margin-left: -4%;
                color: white;
                background-color: #9356DC;
            }
            &__logo{
                &__icon-color--grey{
                    color: #7E7E7E;
                }
                &__icon-color--purple{
                    color: #9356DC;
                }
            }
            &__text{
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                color: #000;
            }
        }
    }
}

/**/

/*RESTAURANTS*/

.restaurants{
    padding: 55px 5.33% 66px 5.33%;
    background-color: #F6F6F6;
    &__title{
        margin-bottom: 30px;
    }
    &__cards{
        position: relative;
        &__link{
            text-decoration: none;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            &__container{
                display: flex;
                flex-direction: column;
                border-radius: 15px;
                margin-top: 18px;
                width: 100%;
                background-color: #ffffff;
                &__img{
                    width: 100%;
                    height: 174px;
                    border-radius: 15px 15px 0 0;
                } 
                &__new{
                    position: absolute;
                    padding: 7.5px;
                    margin: 15px 15px 0 72.53%;
                    border-radius: 2px;
                    background-color: #99E2D0;
                    color: #008766;
                    font-weight: bold;
                }
                &__description{
                    display: flex;
                    padding: 16.5px 7.46% 16.5px 3.88%;
                    &__content{
                        height: 44px;
                        width: 51%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        &__title{
                            font-size: 18px;
                            font-weight: 700;
                            height: 18px;
                            color: #000;
                        }
                        &__location{
                            height: 17px;
                            color: #000;
                        }  
                    }
                    &__icon_container{
                        width: 22px;
                        height: 22px;
                        margin: 10px 0 0 42%;
                        color: #101010;
                        font-size: 22px;
                        &__heart{
                            background-color: $white;
                            position: absolute;
                            z-index: 1;
                            &:active{
                                display: none;
                            }
                        }
                        &__heart-purple{
                            display: none;
                            position: absolute;
                            color: $purple;
                        }
                    }
                }             
            }
        }
    }
}
/**/

/*FOOTER*/

.footer{
    padding: 22px 6.66% 22px 6.66%;
    background-color: #353535;
    color: white;
    &__title{
        font-family: shrikhand;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 17px;
    }
    &__link{
        &__content{
            margin-top: 8px;
            color: white;
            &__logo-container{
                display: inline-block;
                height: 13px;
                font-size: 13px;
                width: 11px;
                margin-right: 2.93%;
            }
            &__text{
                display: inline-block;
            }
        }
    }
}
/**/

/*MEDIA QUERIES*/
@media (min-width: 1024px){
    body{
        max-width: 1440px;
        margin: 0;
    }

.opener{
    &__content{
        &__text{
            &__icon-location{
                margin-right: 1%;
            }
        }
    }
    &__hook{
        &__title{
            font-size: 40px;
        }
        &__text{
            font-size: 18px;
        }
    }
}

.fonctions{
    padding: 50px 12.5% 50px 12.5%;
    height: 131px;
    &__title{
        margin-bottom: 25px;
        width: 100%;
    }
    &__cards{
        display: flex;
        gap: 5.6%;
        margin-left: 10px;
        &__container{
            width: 29.6%;
            margin: 0;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            gap: 5.1%;
            justify-content: flex-start;
            &__number{
                margin-left: -3.5%;
            }
    
        }
    }
    }

.restaurants{
    padding: 30px 12.5% 30px 12.5%;
    &__cards{
        height: 552px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 9.25%;
        &__link{
            width: 45.375%;
            height: 251px;
            &__container{
                margin-top: 0;
                &__new{
                    margin-left: 37%;
                }
                &__img{
                    object-fit: cover;
                }
            }           
        }
    }
}

/*FOOTER*/

.footer{
    display: flex;
    justify-content: flex-end;
    padding: 30px 2.08% 30px 2.08%;
    &__title{
        order: 5;
        margin-bottom: 0;
        margin-left: 3%;
    }
    &__link{
        margin-right: 1.5%;
        &__content{
            margin-top: 0;
        }
        &__logo{
            display: inline-block;
            width: 11px;
            height: 13px;
        }
        &__text{
            display: inline-block;
            margin-left: 0.5%;
        }
    }
}

.footer article {
    width: 188px;
}
/**/

}


/**/