/*VARIABLES*/

/*COLORS*/
$main-bg-color: #F6F6F6;
$white: #FFFFFF;
$purple: #9356DC;
$grey: #353535;
$grey-light: #7E7E7E;
$black-light: #353535;
$black: #000;
$green-light: #99E2D0;
$green: #008766;
/**/
/*SHADOW*/
$shadow-light: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);