/*HTML*/
* {
  font-family: "Roboto", sans-serif;
  margin-block: 0;
}

/**/
/*VARIABLES*/
/*COLORS*/
/**/
/*SHADOW*/
/**/
/**/
/*BODY*/
body {
  max-width: 375px;
  margin: 0;
}

/**/
/*HEADER*/
.navbar {
  display: flex;
  padding: 17px 0 16px 4.53%;
  justify-content: center;
}
.navbar--flex {
  display: flex;
  gap: 17%;
  justify-content: flex-start;
}
.navbar__redirect-link__content {
  width: 30px;
  height: 30px;
}
.navbar__redirect-link__content__logo {
  font-size: 30px;
  color: #000;
}
.navbar__title {
  width: 162px;
  height: 30px;
}
.navbar__title__logo {
  width: 162px;
  height: 30px;
  font-size: 30px;
}
.navbar__title__text {
  display: none;
}

.figure {
  margin-inline: 0;
}
.figure__img {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.opener__content {
  padding: 15.5px 0 15.5px 0;
  background-color: #EAEAEA;
}
.opener__content__text {
  text-align: center;
}
.opener__content__text__icon-location {
  margin-right: 4.53%;
}
.opener__hook {
  background-color: #F6F6F6;
  padding: 30px 0 30px 0;
}
.opener__hook__title {
  text-align: center;
}
.opener__hook__text {
  text-align: center;
  margin: 30px 8% 27px 8%;
}
.opener__hook__link {
  display: block;
  width: 218px;
  margin-left: 21.86%;
  padding: 17px 0 17px 0;
  text-align: center;
  background: linear-gradient(360deg, #9356DC, #FF79DA);
  color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.opener__hook__link__text {
  font-size: 16px;
  font-weight: 500;
}

/**/
/*MAIN*/
/*RESTAURANT*/
.restaurant {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  z-index: 1;
  margin-top: -60px;
}
.restaurant__name__title {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  font-family: shrikhand;
  margin: 32px 3.47% 0 3.47%;
}
.restaurant__name__like {
  display: inline-block;
  background-color: #F6F6F6;
  background-clip: content-box;
  width: 22px;
  height: 22px;
  font-size: 22px;
}
.restaurant__name__like__heart {
  background-color: #F6F6F6;
  position: absolute;
  z-index: 1;
}
.restaurant__name__like__heart:active {
  display: none;
}
.restaurant__name__like__heart-purple {
  display: none;
  position: absolute;
  background-image: #F6F6F6;
  background-clip: content-box;
  background: linear-gradient(180deg, rgb(147, 86, 220) 66%, rgb(255, 121, 218) 100%);
  color: transparent;
}
.restaurant__menu {
  margin: 40px 3.47% 0 3.47%;
}
.restaurant__menu__division {
  font-size: 16px;
  font-weight: 300;
  height: 27px;
}
.restaurant__menu__border {
  width: 40px;
  height: 0;
  border: 2px solid;
  border-color: #99E2D0;
}
.restaurant__menu__container {
  margin-top: 12px;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.restaurant__menu__container:active > .left-slide {
  display: block;
  animation: left__slide 660ms;
}
.restaurant__menu__container__card {
  width: 82%;
  display: inline-block;
  margin: 15px 0 15px 15px;
}
.restaurant__menu__container__card__plats {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-overflow: ellipsis;
}
.restaurant__menu__container__card__text {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}
.restaurant__menu__container__content {
  display: block;
  width: 11.28%;
  text-align: end;
  float: right;
  height: 76px;
  margin-left: 5px;
}
.restaurant__menu__container__content__price {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  margin: 43px 15px 15px 0;
}
.restaurant__menu__container__content__slide {
  display: none;
  float: right;
  width: 43%;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 25px 25px 0;
}
.restaurant__menu__container__content__slide__logo {
  margin: 26px 24px 28px 15px;
  font-size: 22px;
  color: #FFFFFF;
}
.restaurant .order {
  text-align: center;
  background: linear-gradient(360deg, #9356DC, #FF79DA);
  color: white;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  padding: 17.5px 12.8% 16.5px 13%;
  border: none;
  margin: 40px 0 40px 25.2%;
}

@keyframes left__slide {
  from {
    width: 11.28%;
    display: none;
  }
  to {
    display: block;
    width: 43%;
  }
}
/**/
/*FOOTER*/
.footer {
  padding: 22px 6.66% 22px 6.66%;
  background-color: #353535;
  color: #FFFFFF;
}
.footer__title {
  font-family: shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 17px;
}
.footer__link__content {
  margin-top: 8px;
  color: #FFFFFF;
}
.footer__link__content__logo-container {
  display: inline-block;
  height: 13px;
  font-size: 13px;
  width: 11px;
  margin-right: 2.93%;
}
.footer__link__content__text {
  display: inline-block;
}

/**/
/*MEDIA QUERIES*/
@media (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin: 0;
  }
  main {
    background-color: #FFFFFF;
  }
  /*HEADER*/
  .navbar {
    padding: 30px 0 32px 1.18%;
    gap: 42%;
    z-index: 1;
    position: relative;
    background-color: #FFFFFF;
  }
  .figure__img {
    height: 430px;
    margin-top: -75px;
  }
  /**/
  /*MAIN*/
  main {
    padding: 0 13.4% 0 13.4%;
  }
  /**/
  /*RESTAURANT*/
  .restaurant {
    padding: 51px 23.16% 0 23.16%;
    margin-top: -50px;
  }
  .restaurant__name {
    text-align: center;
  }
  .restaurant__name__title {
    margin: 0 4.42% 0 0;
  }
  .restaurant__menu {
    margin: 0;
  }
  /**/
  /*FOOTER*/
  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 30px 2.08% 30px 2.08%;
  }
  .footer__title {
    order: 5;
    margin-bottom: 0;
    margin-left: 3%;
  }
  .footer__link {
    margin-right: 1.5%;
  }
  .footer__link__content {
    margin-top: 0;
  }
  .footer__link__logo {
    display: inline-block;
    width: 11px;
    height: 13px;
  }
  .footer__link__text {
    display: inline-block;
    margin-left: 0.5%;
  }
  .footer article {
    width: 182px;
  }
  /**/
}/*# sourceMappingURL=styles.css.map */